.signup-container{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f2f6fc;
    padding:40px;
}

.signup-box{
    width:450px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.signup-box h2{
    text-align:center;
    color:#1565c0;
    margin-bottom:20px;
}

.signup-box label{
    display:block;
    margin-top:15px;
}

.signup-box input,
.signup-box select,
.signup-box textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:15px;
}

.signup-box button{
    width:100%;
    padding:12px;
    margin-top:25px;
    background:#1565c0;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

.signup-box button:hover{
    background:#0d47a1;
}

.signup-box p{
    text-align:center;
    margin-top:15px;
}

.signup-box a{
    text-decoration:none;
    color:#1565c0;
}


.signup-box textarea{

width:100%;

padding:10px;

margin-top:5px;

margin-bottom:15px;

border:1px solid #ccc;

border-radius:5px;

resize:none;

font-size:16px;

}