.prescription-container{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#eef4fa;

}

.prescription-box{

width:500px;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.2);

}

.prescription-box h2{

text-align:center;

margin-bottom:20px;

color:#1565c0;

}

.prescription-box label{

display:block;

margin-top:15px;

}

.prescription-box input,
.prescription-box textarea{

width:100%;

padding:10px;

margin-top:5px;

border:1px solid #ccc;

border-radius:5px;

}

.prescription-box button{

width:100%;

padding:12px;

margin-top:25px;

background:#1565c0;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}